<!DOCTYPE html>
<html lang="ja-JP">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クリップを投稿する</title>
</head>
<body>
    <div class="title">
        Clipを投稿する
    </div>
</body>
</html>