<!DOCTYPE html>
<html lang="ja-JP">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Clip App</title>
</head>
<body>
    <%= link_to "投稿する", post_path %>
</body>
</html>
